// Profile
.profile-container {
  margin-block-start: 1rem;
//   height: calc(100vh - 52px);
  gap: 3rem;

  & .profile-sidebar {
    width: 300px;

    & .user-img-container {
      @include circle;
      background-color: $azure;
      color: $white;
      font-size: 150px;
      height: rem(200px);
      width: rem(200px);
    }

    & .statistics {
      border-block: 1px solid $light-grey2;
      margin-block: 1.5rem;
      width: 200px;

      & div {
        gap: rem(10px);
        font-family: inter;
        padding: rem(10px);

        & .amount {
          font-weight: $fw-bold;
        }
      }
    }

    & .side-nav {
      justify-content: flex-start;
      font-size: rem(20px);
      font-family: inter;
      width: 100%;

      & div {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-inline-start: 1rem;
        height: rem(60px);
        transition: all ease-in-out $t-fast;

        &:hover {
          background-color: $light-grey1;
        }
      }

      & .active {
        border-inline-start: 5px solid $azure;
      }
    }
  }

  & .profile-main .details {
    & .greet {
      font-family: inter;
      font-size: 1.8rem;
    }

    & .last-active {
      font-size: 1.5rem;
      font-family: inter;
      color: $grey;
    }
  }
}
