.entity-container {

    padding-top: 32px;

    .list-header {
        font-size: 30px;
        font-family: inter;
        margin-bottom: 16px;
    }

    .entity-list {
        display: grid;
        grid-template: repeat(auto-fill, minmax(340px, 1fr)) / repeat(auto-fill, minmax(200px, 1fr));
        gap: 32px;
        overflow-y: auto;
        height: calc(100vh - 210px);

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: $grey;
        }

        &::-webkit-scrollbar {
            width: 3px;
            background-color: $grey;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $green-azure;
        }


        .entity-preview {
            height: 340px;
            background-image: url(../../../assets/img/default-preview-img.png);
            border-radius: 5px;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .entity-name {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80px;
                background-color: rgba(27, 27, 27, 0.8);
                font-size: 20px;
                font-family: Raleway;
                color: $white;
            }

            &:hover {
                .entity-hover {
                    transform: translateY(0px);
                }
            }

            .entity-hover {
                background-color: rgba(27, 27, 27, 0.8);
                display: flex;
                height: 50px;
                align-items: center;
                color: $white;
                transform: translateY(100%);
                transition: 0.3s;
                border-top: 2px solid #5d5d5d;

                &>*:not(:last-child) {
                    border-right: 1px solid #5d5d5d;
                }

                .option {
                    flex-grow: 1;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.3);
                    }
                }
            }

        }
    }
}