.homepage {
  background-image: url("../../assets/img/homepage/background.jpg");
  background-size: cover;
  background-attachment: fixed;

  & img {
    mix-blend-mode: multiply;
  }
}

.hero-container {
  height: calc(100vh - 52px);

  & h1 {
    color: $dark-blue;
    font-size: 2rem;
    font-weight: $fw-extra-bold;
    font-family: RobotoSlab;
    letter-spacing: 2px;
    text-transform: capitalize;

    @include for-normal-layout {
      font-size: 3rem;
    }
  }

  & .content-container {
    flex-grow: 1;

    @include for-normal-layout {
      justify-content: space-evenly;
    }

    p {
      font-size: 1.8rem;
      font-family: CrimsonPro;
      text-align: center;
      margin: 2rem auto;
      max-width: 30ch;
    }

    a {
      cursor: pointer;
      border-radius: rem(10px);
      background-color: $azure;
      color: $white;
      font-size: 1.5rem;
      font-weight: $fw-bold;
      font-family: RobotoSlab;
      letter-spacing: 2px;
      padding: 0.5rem;
      margin: 0 auto;
      width: 10rem;
      transition: all ease-in-out $t-fast;

      @include for-wide-layout {
        margin-block-end: -2rem;
      }

      &:hover {
        width: 13rem;
      }
    }
  }

  & img {
    display: none;

    @include for-normal-layout {
      display: block;
      margin: 0 auto;
      width: 300px;
    }

    @include for-wide-layout {
      width: 400px;
    }

    @include for-large-layout {
      width: 500px;
    }
  }
}

.guide-container {
  margin: 0 auto;

  & > .flex {
    gap: 2rem;
    padding-block: 2rem;
    margin-block-end: 2rem;

    &:nth-child(odd) {
      background-color: $light-grey1;
    }

    & .text {
      flex-grow: 1;

      & h2 {
        color: $azure;
        font-weight: $fw-bold;
        font-family: RobotoSlab;
        letter-spacing: 1px;
        margin-block-end: 1rem;
      }

      & p {
        font-size: 1.2rem;
        font-family: inter;
        margin-block: 1rem;
        text-align: center;
        max-width: 15ch;

        @include for-normal-layout {
          max-width: 20ch;
        }

        @include for-wide-layout {
          max-width: 30ch;
        }
      }
    }

    & img {
      margin: auto;
      max-width: 90%;
      order: 2;

      @include for-narrow-layout {
        width: 300px;
      }

      @include for-normal-layout {
        width: 350px;
        order: inherit;
      }
    }
  }
}
