.homepage-hero {
    background-image: url(../../assets/img/hero-img.jpg);
    height: calc(100vh - 50px);
    background-size: cover;
    filter: grayscale(0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    span {
        font-size: 45px;
        font-family: Raleway;
        font-weight: 600;
        background-color: #ffffffb3;
        border-radius: 10px;
        margin-bottom: 100px;
        box-shadow: 5px 5px 45px 50px rgba(255, 255, 255, 0.7);
        border: none
    }

    button {
        font-family: inter;
        background-color: rgba(0, 0, 0, 0.315);
        border: 3px rgba(255, 255, 255, 0.85) solid;
        font-size: 30px;
        padding: 10px 20px 10px 20px;
        border-radius: 3px;
        box-shadow: 0 0 0 gray;
        transition: 0.2s;
        color: rgba(255, 255, 255, 0.85);

        &:hover {
            padding: 10px 33px 10px 33px;
            color: $azure;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.85);
            border: 3px rgba(255, 255, 255, 0.85) solid;
        }
    }


}