.basic-product {
  position: relative;
  border: 1px dashed $dark-grey;
  border-collapse: collapse;

  &:hover {
    border: 1px solid $dark-grey;
  }

  &:hover > *.element-tool-bar {
    display: flex;
  }
}
