.accordion {
  border: 1px solid $grey;
  font-family: inter;

  & .accordion__heading {
    font-weight: $fw-bold;
  }
}

.accordion__item + .accordion__item {
  border-block-start: 1px solid $grey;
}

.accordion__button {
  cursor: pointer;
  background-color: $light-grey1;
  color: $black;
  padding: 1rem;
  width: 100%;

  &:hover {
    background-color: $light-grey2;
  }
}

.accordion__button:before {
  display: inline-block;
  content: "";
  border-bottom: 1px solid $black;
  border-right: 1px solid $black;
  margin-inline-end: 0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  transition: transform ease-in-out $t-fast;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  transform: rotate(45deg);
}

.accordion__panel {
  border-block-start: 1px dashed $grey;
  animation: fadein ease-in-out $t-normal;
}

.accordion-inner-title {
  background-color: $light-grey2;
  font-size: 0.9rem;
  font-weight: $fw-bold;
  padding: 0.2rem 0.5rem;
}

.accordion-inner-content {
  padding: 0.5rem;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
