.editor-nav-container {
  margin-block-end: 0.5em;

  & > div {
    background-color: $light-grey2;
    display: inline-block;
    font-weight: $fw-bold;
    letter-spacing: 1px;
    padding: 10px;
    width: 100%;
    transition: background-color ease-in-out $t-fast;

    &:hover {
      background-color: $light-grey2;
    }

    &.active {
      background-color: $black;
      color: $white;
    }
  }
}
