// Editor side
.editor-side-container {
  position: fixed;
  border-inline-end: 1px solid $light-grey2;
  height: 100%;
  min-width: rem(300px);
  width: rem(300px);
  overflow: auto;
  z-index: 5;
  scrollbar-width: thin;
  scrollbar-color: $green-azure $light-grey1;

  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $green-azure;
  }
}
